.lead__picture {
max-width: 984px;
object-fit: cover;
max-width: 100%;
}
@media screen and (max-width: 1024px) {
    .lead__picture {
      max-width: 95%;
    }
  }
  @media screen and (max-width: 768px) {
    .lead__picture {
      max-width: 100%;
    }
  }
@media screen and (max-width: 320px) {
    .lead__picture {
      max-width: 100%;
    }
  }