.intro__list {
max-width: 690px;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 1.5;
color: #FFFFFF;
margin-top: 0;
margin-bottom: 92px;
}
@media screen and (max-width: 320px) {
    .intro__list {
      max-width: 288px;
      margin-bottom: 64px;
    }
  }