@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__picture/lead__picture.css);
@import url(./__caption/lead__caption.css);
@import url(./__figure/lead__figure.css);
.lead {
max-width: 984px;
margin: 0 auto;
padding-top: 56px;
box-sizing: border-box;
}
  @media screen and (max-width: 320px) {
    .lead {
      max-width: 320px;
      padding-left: 0;
      padding-right: 0;
    }
  }