@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);
@import url(./__overlay/cover__overlay.css);
.cover {
  max-width: 1184px;
  min-height: 740px;
  background-image: url(../../Images/cover__background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 12px auto 0;
  box-sizing: border-box;
  width: 100%;

}
@media screen and (max-width: 1024px) {
  .cover {
   margin-top: 0;
  }
}
@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
    margin-top: 16px;
  }
}