.cover__overlay {
  min-height: 740px;
  max-width: 1184px;
  justify-content: center;
  text-decoration: none;
  text-decoration: none;
  flex-direction: column;
  display: flex;
  background-color: rgba(42, 44, 47, 0.4);
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
}
@media screen and (max-width: 320px) {
  .cover__overlay {
    min-height: 200px;
     }
  }
